@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,body{
  overflow-x: hidden !important;
}

h1,h2,h3,h4, nav{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: linear-gradient(0deg,rgba(29, 22, 130, 1) 29%, rgba(253, 187, 45, 1) 100%);
}
.gold-shimmer {
  background: linear-gradient(
    110deg,
    #8C6F1E 25%,
    #CFAF4B 40%,
    #F2D479 50%,
    #CFAF4B 60%,
    #8C6F1E 75%
  );
  background-size: 200% auto;
  animation: goldShimmer 4s linear infinite;
}

@keyframes goldShimmer {
  to {
    background-position: 200% center;
  }
}

.navy-shimmer {
  background: linear-gradient(
    110deg,
    #1E3A5F 25%,   /* lighter base */
    #3F6FA5 40%,   /* brighter blue */
    #6FA8DC 50%,   /* highlight (light glow) */
    #3F6FA5 60%,
    #1E3A5F 75%
  );
  background-size: 200% auto;
  animation: navyShimmer 4s linear infinite;
}

@keyframes navyShimmer {
  to {
    background-position: 200% center;
  }
}

.gold-shimmer-text {
  background: linear-gradient(
    110deg,
    #8C6F1E 25%,
    #CFAF4B 40%,
    #F2D479 50%,
    #CFAF4B 60%,
    #8C6F1E 75%
  );
  background-size: 200% auto;

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;


  animation: goldShimmer 3s linear infinite;
}

@keyframes goldShimmer {
  to {
    background-position: 200% center;
  }
}

.gold-shimmer-bg {
  background: linear-gradient(
    110deg,
    rgba(207, 175, 75, 0.1) 25%,
    rgba(207, 175, 75, 0.6) 40%,
    rgba(242, 212, 121, 0.7) 50%,
    rgba(207, 175, 75, 0.6) 60%,
    rgba(207, 175, 75, 0.1) 75%
  );

  background-size: 200% auto;
  animation: shimmerMove 4s linear infinite;
}

@keyframes shimmerMove {
  to {
    background-position: 200% center;
  }
}

.gold-shimmer-btn {
  background: linear-gradient(
    110deg,
    #8C6F1E 25%,
    #CFAF4B 40%,
    #F2D479 50%,
    #CFAF4B 60%,
    #8C6F1E 75%
  );
  background-size: 200% auto;
  animation: shimmerBtn 2s linear infinite;
}

@keyframes shimmerBtn {
  to {
    background-position: 200% center;
  }
}

.gold-border {
  position: relative;
}

.gold-border::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;

  background: linear-gradient(
    180deg,
    #8C6F1E 20%,
    #CFAF4B 40%,
    #F2D479 50%,
    #CFAF4B 60%,
    #8C6F1E 80%
  );

  background-size: 200% auto;
  animation: shimmerBorder 3s linear infinite;
}

@keyframes shimmerBorder {
  to {
    background-position: 200% center;
  }
}

.gold-shimmer-line {
  height: 2px;
  width: 100%;

  background: linear-gradient(
    90deg,
    #8C6F1E 20%,
    #CFAF4B 40%,
    #F2D479 50%,
    #CFAF4B 60%,
    #8C6F1E 80%
  );

  background-size: 200% auto;
  animation: shimmerLine 3s linear infinite;
}

@keyframes shimmerLine {
  to {
    background-position: 200% center;
  }
}

.gold-shimmer-border {
  background: linear-gradient(
    110deg,
    #8C6F1E 20%,
    #CFAF4B 40%,
    #F2D479 50%,
    #CFAF4B 60%,
    #8C6F1E 80%
  );

  background-size: 200% auto;
  animation: shimmerBorder 3s linear infinite;
}

@keyframes shimmerBorder {
  to {
    background-position: 200% center;
  }
}

.gold-divider {
  height: 2px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #8C6F1E 20%,
    #CFAF4B 40%,
    #F2D479 50%,
    #CFAF4B 60%,
    #8C6F1E 80%
  );

  background-size: 200% auto;
  animation: shimmerLine 3s linear infinite;
}

@keyframes shimmerLine {
  to {
    background-position: 200% center;
  }
}